<h1>Appointment</h1>

<%= "Date: #{@appointment.appointment_datetime.to_formatted_s(:long) }" %><br>
<p>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
